<div class="row">
  <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar mt-3">
    <%= render 'common/side' %>
  </nav>
  <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
    <div class="row">
      <div class="col">
        <% if @items.any? %>
          <%= render 'items' %>
        <% else %>
          <span class="dark-gray">No Files</span>
        <% end %>
      </div>
    </div>
    <hr>
    <% if @bucket %>
      <div class="row p-2">

        <%= form_for [@bucket, @item], class: "form-inline my-2" do |f| %>
          <%= f.file_field :file, required: true, :onchange => "$(this).parents('form').submit();" %>     
        <% end %>

        <%= link_to "Remove Bucket", @bucket, method: :delete, class: "btn btn-outline-danger m-2 ml-auto" %>
      </div>
    <% end %>
  </main>
</div>
