<!DOCTYPE html>
<html>
  <head>
    <title>Purl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="container-fluid" style="margin-top: 70px">
      <%= render "/common/alert" %>
      <div class="row">
        <%= render 'layouts/side' %>
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
